{% extends 'base.html.twig' %}

{% set content_title = 'About' %}

{% block body %}
    <article class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">About</h2>
        </div>
        <div class="panel-body">
            <p>Hi there!</p>

            <p>
                Unfortunately, I don't have any content for this page. And for that, I am remorseful.
            </p>

            <p>
                However, I also do not feel like writing any content for this page. And for that, I am not.
            </p>

            <p>
                If you feel like writing content for this page, please consider
                <a href="https://github.com/wackyMole/wotd/blob/master/CONTRIBUTING.md">
                    contributing to the project!
                </a>
            </p>

            <p>
                <strong>Have a nice day!</strong>
            </p>
        </div>
    </article>
{% endblock %}

